.custom-navbar {
  background-color: rgba(12, 12, 12, 0.85);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.5rem 0;
  border-radius: 0 !important;
}

.custom-navbar .navbar-brand {
  padding: 0;
  margin-right: 3rem;
}

.custom-navbar .logo {
  margin-left: 20px;
  height: 80px;
}

.custom-navbar .nav-link {
  font-weight: 500;
  color: white;
  padding: 0.5rem 1rem;
}

.custom-navbar .btn-outline-secondary {
  border-color: #ddd;
  color: white;
}

.custom-navbar .btn-outline-secondary:hover {
  background-color: rgba(12, 12, 12, 0.85);
  color: white;
}

.custom-navbar .btn-primary {
  background-color: rgba(48, 159, 14, 0.65);
  border-color: rgba(48, 159, 14, 0.65);
}

@media (max-width: 992px) {
  .custom-navbar .navbar-collapse {
    padding-top: 1rem;
  }
}
.custom-navbar .nav-link:hover {
  color: rgba(48, 159, 14, 0.65);
}


.custom-navbar .nav-link.active {
  color: rgb(23, 189, 91);
  font-weight: 600;
}